{
    "openapi": "3.0.0",
    "info": {
        "title": "Radiance Dentistry API",
        "description": "API documentation for Radiance Dentistry Dashboard",
        "contact": {
            "email": "roninaruka@gmail.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://my.radiancedentistryclinic.com/",
            "description": "Live Server"
        },
        {
            "url": "http://localhost:8080",
            "description": "Local Development Server"
        }
    ],
    "paths": {
        "/api/slots": {
            "get": {
                "summary": "Get available slots for a date",
                "description": "Returns a list of available time slots",
                "operationId": "getAvailableSlots",
                "parameters": [
                    {
                        "name": "date",
                        "in": "query",
                        "description": "Date in YYYY-MM-DD format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "date": {
                                            "type": "string",
                                            "format": "date"
                                        },
                                        "slots": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/appointments": {
            "post": {
                "summary": "Create a new appointment",
                "description": "Creates an appointment and links/creates a patient record",
                "operationId": "createAppointment",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "date",
                                    "time",
                                    "name",
                                    "email",
                                    "phone",
                                    "captcha_token",
                                    "captcha_answer"
                                ],
                                "properties": {
                                    "date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-10-10"
                                    },
                                    "time": {
                                        "type": "string",
                                        "example": "10:00"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "1234567890"
                                    },
                                    "reason": {
                                        "type": "string",
                                        "example": "Checkup"
                                    },
                                    "doctor_id": {
                                        "description": "Optional doctor ID",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "captcha_token": {
                                        "type": "string",
                                        "example": "uuid-token"
                                    },
                                    "captcha_answer": {
                                        "type": "string",
                                        "example": "ABCD12"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Appointment created successfully"
                    }
                }
            }
        },
        "/api/before-afters": {
            "get": {
                "summary": "Get list of active Before & After records",
                "description": "Returns a list of active Before & After records sorted by sort order.",
                "operationId": "getBeforeAfters",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "title": {
                                                "type": "string"
                                            },
                                            "before_image": {
                                                "type": "string"
                                            },
                                            "after_image": {
                                                "type": "string"
                                            },
                                            "sort_order": {
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/blogs": {
            "get": {
                "summary": "Get list of blogs",
                "description": "Returns paginated published blogs",
                "operationId": "getBlogs",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/api/blogs/{slug}": {
            "get": {
                "summary": "Get single blog",
                "description": "Returns a single blog by slug",
                "operationId": "getBlog",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "404": {
                        "description": "Blog not found"
                    }
                }
            }
        },
        "/api/captcha": {
            "get": {
                "summary": "Generate a new CAPTCHA",
                "description": "Returns a base64 encoded image and a unique token for verification",
                "operationId": "generateCaptcha",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "uuid-token"
                                        },
                                        "image": {
                                            "type": "string",
                                            "example": "data:image/png;base64,..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/doctors": {
            "get": {
                "summary": "Get list of doctors",
                "description": "Returns a list of all users with the doctor role",
                "operationId": "getDoctors",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "Dr. Smith"
                                            },
                                            "email": {
                                                "type": "string",
                                                "format": "email",
                                                "example": "doctor@example.com"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/faqs": {
            "get": {
                "summary": "Get list of active FAQs",
                "description": "Returns a list of active FAQs sorted by sort order. Optional tag filter.",
                "operationId": "getFaqs",
                "parameters": [
                    {
                        "name": "tag",
                        "in": "query",
                        "description": "Filter FAQs by a specific tag",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "question": {
                                                "type": "string"
                                            },
                                            "answer": {
                                                "type": "string"
                                            },
                                            "tag": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "sort_order": {
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/locations": {
            "get": {
                "summary": "Get list of clinic locations",
                "description": "Returns a list of clinic branches",
                "operationId": "getLocations",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "address": {
                                                "type": "string"
                                            },
                                            "phone": {
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            },
                                            "working_hours": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/reviews": {
            "get": {
                "summary": "Get list of published reviews",
                "description": "Returns a list of published patient reviews",
                "operationId": "getReviews",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "rating": {
                                                "type": "integer"
                                            },
                                            "comment": {
                                                "type": "string"
                                            },
                                            "avatar": {
                                                "type": "string",
                                                "nullable": true
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/health": {
            "get": {
                "summary": "Health check",
                "operationId": "50bc6dc8224745cd0b9f7bb96ca7ae5f",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/test": {
            "get": {
                "summary": "Test endpoint",
                "operationId": "af4eef7c415174b57a22c482494a6a28",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        }
    }
}